@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Department</h1>

<br />
<br />

<form>
    <partial name="DepartmentPartialView/_DeleteDetailsPartialView.cshtml" />
    <div class="my-3"> 
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>


