@model RoleToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<br />
<br />

<form>
    <partial name="RolePartialView/_DeleteDetailsPartialView.cshtml" />
    <div class="my-3">
        <a asp-action="Edit" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>